# Flutter / Dart
.dart_tool/
.build/
.packages
.pub/
.generated/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
flutter_export_environment.sh
# Editor
.vscode/
.idea/
# OS
.DS_Store
Thumbs.db
# OneDrive temp
~$*
